/* styles.css */
body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #2a7ae2;
    color: white;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #2a7ae2;
    color: white;
    text-align: center;
    padding: 10px;
}
header img {
    width: 200px; /* Cambia el valor al ancho deseado */
    height: 100px; /* Cambia el valor a la altura deseada */
}
.programas .programa img {
    width: 400px; /* Cambia el valor al ancho deseado */
    height: 250px; /* Cambia el valor a la altura deseada */
}
.Redes-Sociales img {
    width: 150px; /* Cambia el valor al ancho deseado */
    height: 100px; /* Cambia el valor a la altura deseada */
}